<!doctype html>
<html>

<head>
  <title>OpenAI + Openlayer app</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <div class="header">
    <img src="{{ url_for('static', filename='icons.png') }}" alt="OpenAI + Openlayer Logo" />
    <div class="demo-text">RAG + Openlayer</div>
  </div>
  <p>Try asking the model Apple trivia, such as <em>When did Apple IPO?</em> or <em>Who were the founders of Apple?</em>
  </p>
  <p>All model interactions are monitored by Openlayer.
    You can see the requests on the <a href="https://app.openlayer.com/" target="_blank">Openlayer platform</a>.</p>
  <p style="color:gray"><small>App based on the <a href="https://github.com/openai/openai-quickstart-python"
        target="_blank">OpenAI
        Flask example</a></small></p>
  <div class="chat-container">
    {% for message in chat_history %}
    <div class="message-role {{ 'user' if message.role == 'user' else '' }}">
      {{ message.role.capitalize() }}
    </div>
    <div class="{{ 'user-message' if message.role == 'user' else 'assistant-message' }}">
      {{ message.content }}
    </div>
    {% endfor %}
  </div>
  <div class="message-input-container">
    <form action="/chat" method="post">
      <textarea name="message" placeholder="Type your message here..." required></textarea>
      <div class="button-group">
        <button type="submit" id="send-btn">&#x2191;</button>
      </div>
    </form>
  </div>
  <script>
    document
      .querySelector("form")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        const messageInput = document.querySelector('textarea[name="message"]');
        const message = messageInput.value.trim();
        const chatContainer = document.querySelector(".chat-container");

        if (message) {
          const userRoleDiv = document.createElement("div");
          userRoleDiv.classList.add("message-role", "user");
          userRoleDiv.textContent = "User";
          chatContainer.appendChild(userRoleDiv);

          const userMessageDiv = document.createElement("div");
          userMessageDiv.classList.add("user-message");
          userMessageDiv.textContent = message;
          chatContainer.appendChild(userMessageDiv);

          messageInput.value = "";  // Clear the input after adding to the chat

          fetch("/chat", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ message: message }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                // Simulate a delay in response or fetching the next part
                fetch("/query", {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify({ message: message }),
                })
                  .then((response) => response.json())
                  .then((data) => {
                    if (data.success) {
                      const assistantRoleDiv = document.createElement("div");
                      assistantRoleDiv.classList.add("message-role", "assistant");
                      assistantRoleDiv.textContent = "Assistant";
                      chatContainer.appendChild(assistantRoleDiv);

                      const assistantMessageDiv = document.createElement("div");
                      assistantMessageDiv.classList.add("assistant-message");
                      assistantMessageDiv.textContent = data.message;  // Update this line
                      chatContainer.appendChild(assistantMessageDiv);

                      chatContainer.scrollTop = chatContainer.scrollHeight;  // Auto-scroll
                    }
                  });
              }
            });
        }
      });

    // Add event listener for the clear button
    document
      .getElementById("clear-btn")
      .addEventListener("click", function () {
        // Clear the chat container
        const chatContainer = document.querySelector(".chat-container");
        chatContainer.innerHTML = "";

        // Re-insert the initial system message as an assistant message
        const systemMessageDiv = document.createElement("div");
        systemMessageDiv.classList.add("assistant-message"); // Use the assistant message class
        systemMessageDiv.textContent = "You are a helpful assistant.";
        chatContainer.appendChild(systemMessageDiv);

        // Reset the chat history on the server
        fetch("/reset", {
          method: "POST",
        }).then((response) => {
          if (response.ok) {
            console.log("Chat history has been reset.");
          }
        });
      });
  </script>
</body>

</html>